<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.htheh.helpthehomeless">
    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="replace" /> <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- The BACKGROUND_LOCATION permission is required for geofencing functionality to work on Q+ -->
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:node="replace" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HomelessApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/hthlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hthlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelpTheHomeless"
        tools:targetApi="31">
        <activity
            android:name=".ui.homelesspersonprofile.expdetails.ExpDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_epx_details"
            android:theme="@style/Theme.HelpTheHomeless.NoActionBar" />
        <activity
            android:name=".ui.homelesspersonprofile.eddetails.EdDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_ed_details"
            android:theme="@style/Theme.HelpTheHomeless.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="app.htheh.helpthehomeless"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_file" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.AuthenticationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HelpTheHomeless.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.homelesspersonprofile.HomelessProfileActivity"
            android:label="Homeless Profile"
            android:theme="@style/Theme.HelpTheHomeless.NoActionBar" />
        <activity
            android:name=".ui.HomelessActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HelpTheHomeless.NoActionBar" />

        <receiver
            android:name=".geofence.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".geofence.GeofenceTransitionsJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>